body {
  position: absolute;
  width: 100%;
  height: 100%;
  
  main {
  @include clearfix;
  @include container(70em);

	  article {
	  	padding: 1em;
	 	
	 	@include breakpoint($medium){
	    	@include span(7 of 12);
	    }

	  } //article

	  aside {
      @include clearfix;
      @include breakpoint($medium){
       @include span(4 of 12 at 9);
	    }
    }//aside


  }//main

  .onepager {
    @include container(50em);
    margin-top: 20px;
    margin-bottom: 90px;
    width: 95%;

    .testimonial {
      @include flex-direction(column);
    }

    h1 {
      margin: 1.0em 0em;
      font-size: 2.5em;
    }

  }

  .thankphotos{
    @include display-flex;
    @include justify-content(space-around);
    @include flex-wrap(wrap);
  }

}
  
.hide {
        display: none;

        @include breakpoint($medium){
              display: inline;      
        }
    }

.hideSmall {
        display: none;

        @include breakpoint($small){
              display: inline;      
        }
    }


.show {
        display: block;

        @include breakpoint($medium){
              display: none;      
        }
    }

.showSmall {
        display: block;

        @include breakpoint($small){
              display: none;      
        }
    }