.accreditations {
  @clearfix;

  h2 {
  text-align: center;
  }

    p {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 0.5em;
    font-size: 90%;
    color: gray;

    @include breakpoint($medium){
    width: 70%;
    }

    }//p

}//accreditations



  .accred {
 @clearfix;
  margin: 0 auto;
  padding-top: 0.5em;
}

.accet {
  @include backImage('../images/accet.png');
  height: 60px;
  background-size: contain;

  }

.bppe {
  @include backImage('../images/bppe.png');
  height: 150px;
  background-size: contain;

  }

.ed {
  @include backImage('../images/ed.png');
  height: 150px;
  background-size: contain;
  }

.militaryfriendly {
  @include backImage('../images/militaryfriendly.png');
  height: 150px;
  background-size: contain;
  }

