header {
  .fullheight {
    @include backImage('../images/JosephHero.jpg');
    width: 100%;
    height: 100%;

    @include display-flex();
    
    @include align-items(flex-end);
    @include justify-content(flex-start);
    
    @include breakpoint($small) {
      @include align-items(center);
      @include justify-content(flex-start);
    }

    .hgroup2{
    @include clearfix;
    @include container;
    }

    #introcta {
        font-family: $fontmarker;
        color: $dark;
        font-size: 2em;
        vertical-align: middle;
        
    }

    #handarrow {
    height: 250px;
    width: 250x;
    background: cover;
    fill: $dark;

    @include breakpoint($medium){
    width: 75px;
    }



    }

    .hgroup {
        padding: 5%;
        padding-bottom: 1%;
        @include background-image(linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.7)));
        width: 100%;

    @include breakpoint($small) {
        width: auto;
        @include background-image(none);
    }

      h1 {
        color: $orange;
        text-align: left;
        line-height: 0.8;
        margin: 0 auto;
        font-size: 2em;

        @include breakpoint($medium) {
            font-size: 5em;
        }       

      } //h1

      h2 {
        color: $blue;
        font-family: $headfontfamily;
        margin: 0 auto;
        text-align: right;
        font-size: 3em;

        @include breakpoint($medium) {
            font-size: 7em;
        }              

      } //h2

    } //hgroup
  } //fullheight
} //header