header {
    
    .mastudent {
        @include backImage('../images/mahero.jpg');
    }

    .joseph {
        @include backImage('../images/JosephHero.jpg');
    }
  

    .fullheight {

        @inlcude clearfix;
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(flex-end);

        @include breakpoint($small) {
            @include flex-direction(column-reverse);
            @include justify-content(flex-start);

        }


        .introcta {
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(center);
            @include background-image(linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.7)));

            @include breakpoint($small){
                @include justify-content(center);
                margin-top: 25px;
            }

            @include breakpoint($medium){
                @include justify-content(center);
            }

            .introtext {
                font-family: $fontmarker;
                color: $blue;
                font-size: 1.25em;
                text-align: left;
                padding: 0;
                margin: auto 0;

                @include breakpoint($medium){
                    color: $orange;
                }
            }

            #handarrow {
                width: 70px;
                height: 70px;
                padding-left: 5px;
                background: cover;
                fill: $blue;
                padding-top: 10px;

                @include breakpoint($medium){
                    fill: $orange;
                }

                &:hover{
                    fill: $orange;
                    @include breakpoint($medium){
                        fill: $blue;
                    }

                }
            }

        }

        .titletext{
       /* @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-between);

        @include breakpoint(small){
            @incluce clearfix;
            @include justify-content(flex-start);
        }

        */
        padding: 2%;
        padding-bottom: 1%;
        @include background-image(linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.7)));
        width: 100%;

        @include breakpoint($small) {
            @include background-image(none);
        }

        h1 {
            color: $orange;
            text-align: left;
            line-height: 1.0;
            margin: 0 auto;
            font-size: 1.5em;
            
            @include breakpoint($small){
                @include text-shadow(#000000 1px 1px 1px);
            }

            @include breakpoint($medium) {
                font-size: 3em;
            }       

            } //h1

            @include breakpoint($small){
            .ma {
                   color: $orange !important;
                }
            }

            h2 {
                color: $blue;
                font-family: $headfontfamily;
                margin: 0 auto;
                text-align: right;
                font-size: 2.25em;
             
                @include breakpoint($small){
                   @include text-shadow(#000000 1px 1px 1px);
                }

                @include breakpoint($small){
                    text-align: left;
                }


                @include breakpoint($medium) {
                    font-size: 5em;
                }              

                } //h2
                }//titletext
                } //fullheight
                } //header