header {
    
    .mastudent {
        @include backImage('../images/mahero.jpg');
    }

    .joseph {
        @include backImage('../images/JosephHero.jpg');
    }

    .mfobchero {
        @include backImageTop('../images/mfobchero.jpg');
    }

    .businesshero {
        @include backImageTop('../images/businesshero.jpg');
    }

    .accountanthero {
        @include backImageTop('../images/accountanthero.jpg');
    }
  

    .fullheight {
        @inlcude clearfix;
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(flex-end);

        @include breakpoint($small) {
            @include clearfix;
            @include flex-direction(column-reverse);
            @include justify-content(flex-end);
        }


        .introcta {
            @include clearfix;
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(center);
            @include background-image(linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.7)));

            @include breakpoint($small){
                @include justify-content(center);
            }

            .introtext {
                font-family: $fontmarker;
                color: $orange;
                font-size: 1.0em;
                text-align: left;
                padding: 0;
                margin: auto 0;

            }//introtext

            #handarrow {
                width: 55px;
                height: 55px;
                padding-left: 5px;
                background: cover;
                fill: $orange;
                padding-top: 10px;

                
            }//handarrow

        }//introcta

        .titletext{
        @include clearfix;
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(flex-end);

        padding: 2%;
        @include background-image(linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.7)));
        width: 100%;

        @include breakpoint($small) {
            @include background-image(none);
            @include flex-direction(column);
            //@include justify-content(flex-start);
            flex-grow: 1;
            

        }

        h1 {
            color: $orange;
            text-align: left;
            line-height: 1.0;
            font-size: 1.5em;
            @include text-shadow(#989898 1px 1px 1px);
            padding-right: 3px;

            @include breakpoint($medium){
            font-size: 2.5em;
            }
            

            } //h1

            h2 {
                color: $blue;
                font-family: $headfontfamily;
                text-align: right;
                font-size: 1.75em;
                margin-top: 0;
                @include text-shadow(#989898 1px 1px 1px);

                @include breakpoint($medium){
                font-size: 2.75em;
                }

                } //h2
        }//titletext

        .left {
            @include breakpoint($small) {
                @include align-items(flex-start);
            }
        }


    } //fullheight
} //header