.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/images/loading.gif') 50% 50% no-repeat white;
}


.columns {
	
	@include breakpoint($medium){
		@include container;
		@include clearfix;
		margin-left: 5%;
	
		ul{
			li {
			@include gallery(6 of 12);
			}//li
		}//ul
	}//breakpoint
}//columns

.lastp{
	text-align: center;
}


.testimonial {
	margin-top: 1.5em;

	p {
	width: $testImgSize;
	text-align: center;
	font-size: 105%;
	font-style: italic;
	margin: auto;
	}
}

.testimage {
	margin: 0 auto;
	text-align: center;

}

#joseph {
	@include testImage('/images/joseph.jpg');
	height: $testImgSize;
}

#hayley {
	@include testImage('/images/hayley.jpg');
	height: $testImgSize;
}

#victoria {
	@include testImage('/images/victoria.jpg');
	height: $testImgSize;
}

